
.app {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.search-form {
  margin-bottom: 20px;
}

.toggle-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.weather-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.temperature {
  font-size: 20px;
}

.close-button {
  background-color: #ff3b3b;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
}
