
body{
  margin: 0;
  padding: 0;
}

.h1{
  margin: 0;
}
.navbar,
.rules {
  background-color: red;
  color: white;
  margin-bottom: 3px;
  box-shadow: 03px 6px #999, 0 3px 6px #999;

}
.heroes-container{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
  gap: 3rem;
  padding:2rem;
}

.hero-card{
  border: 3px solid gray;
  border-radius: 3px;
  box-shadow: 0 3px 6px #999 0 3px 6px #999 ; 
  text-align: center;
  height: 400px;
  cursor: pointer;
  transition: all 0.2s;

}
.hero-card:hover{
  scale: 1.03;
  box-shadow: 0 12px 24px #999, 0 12px 24px #999;
}
.hero-card .image-container{
  height: 80%;
  overflow: hidden;
}
.hero-card .image-container img{
  width: 80%;
}

.bold{
  font-weight:700;
}